/* iPads and Tablets - portrait */
@media screen and (max-width: 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    top: 77px;

    background-color: white;
    width: 100%;

    box-shadow: 0px 5px 20px rgba(52, 49, 75, 0.1);
    transition: ease-in-out 0.3s;
    padding-top: var(--size-50);
    padding-bottom: var(--size-50);
    /* border: 1px solid black; */
  }

  [aria-expanded="true"] ~ ul li:nth-child(6) {
    flex-basis: 100%;
    text-align: center;
    padding-top: var(--size-50);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: var(--size-20);
    color: var(--font-color-dark);
    font-size: 20px;
    color: gray;
  }
  [aria-expanded="true"] ~ ul li a:hover {
    color: var(--font-color-link);
  }
}

@media screen and (max-width: 480px) {
}
