/* iPads and Tablets - portrait */
@media screen and (max-width: 1023px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }
  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 77px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 20px rgba(52, 49, 75, 0.1);
    transition: ease-in-out 0.3s;
    padding-top: var(--size-50);
    padding-bottom: var(--size-50);
  }

  [aria-expanded="true"] ~ ul li:nth-child(6) {
    flex-basis: 100%;
    text-align: center;
    padding-top: var(--size-50);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: var(--size-20);
    color: var(--font-color-dark);
    font-size: 20px;
    color: gray;
  }
  [aria-expanded="true"] ~ ul li a:hover {
    color: var(--font-color-link);
  }

  /* header section */

  .header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: var(--size-50);
  }

  .header-text {
    grid-column: 1 / 6;
    text-align: center;
    margin-bottom: var(--size-50);
  }

  .header-btn-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .header-icons-wrapper {
    grid-column: 1 / 6;
    height: 340px;
    text-align: center;
  }

  .brand-icon-lg {
    height: 80px;
    width: 80px;
    padding: 16px;
  }

  .brand-icon-sm {
    height: 60px;
    width: 60px;
    padding: 12px;
  }

  .google {
    position: absolute;
    right: 65%;
  }
  .atlassian {
    position: absolute;
    right: 45%;
    top: 3%;
  }
  .assana {
    position: absolute;
    right: 26%;
    top: 4px;
  }
  .paypal {
    position: absolute;
    right: 63%;
    top: 120px;
  }
  .weave {
    position: absolute;
    right: 38%;
    top: 125px;
  }
  .google-a {
    position: absolute;
    right: 57%;
    top: 230px;
  }
  .calendar {
    position: absolute;
    right: 27%;
    top: 220px;
  }

  /* key benefits section */
  .benefit-card {
    width: 320px;
  }

  /* different perspectives section */
  .different-perspectives {
    padding-left: 0;
  }

  .dif-perspectives-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .perspectives-text-wrapper {
    margin: 0 auto;
    text-align: center;
  }
  .tablet-br {
    display: block;
  }

  .perspectives-text-wrapper button {
    text-align: center;
    margin: 0 auto;
  }

  .perspectives-img-wrapper {
    margin-top: var(--size-30);
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
}
