.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding: var(--size-16);
}

.navbar.sticky {
  background: var(--white);
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: var(--font-color-dark);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--white);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.navbar .container {
  display: flex;
  align-items: center;
}
.navbar-brand {
  background-image: url("../assets/project_logo/logo.svg");
  margin-right: auto;
  width: 150px;
  height: 45px;
  transition: ease-in-out 0.3s;
}

.nav-link a,
.header-link {
  color: var(--font-color-base);
  font-size: var(--size-14);
  font-weight: 400;
  font-family: "Hind", sans-serif;
  margin-right: var(--size-20);
  line-height: var(--size-20);
}

.active-nav-link a {
  color: var(--font-color-link);
}

.navbar-nav {
  display: flex;
  align-items: center;

  /* border: 1px solid pink; */
}

.nav-link {
  /* border: 1px solid blue; */
}

/* header section start */
.header {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header-text {
  /* border: 1px solid pink; */
  grid-column: 1 / 3;
}

.header-text h1 {
  margin-bottom: 5px;
  font-size: var(--size-40);
  color: black;
  font-weight: 400;
  line-height: 1.2;
}

.header-text p {
  font-size: var(--size-12);
  margin-bottom: var(--size-18);
}

.header-btn-wrapper {
  display: flex;
  align-items: center;
}

.header-btn {
  margin-right: var(--size-14);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-btn-wrapper button i {
  font-size: var(--size-16);
}

.header-link {
  color: var(--font-color-link);

  font-weight: 600;
  font-size: var(--size-12);
}

.header-icons-wrapper {
  /* border: 1px solid black; */
  grid-column: 3 / 5;
  height: 340px;
}
.brand-icons-wrapper {
  display: flex;
  position: relative;
}

.brand-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 3px 3px var(--font-color-light);
  padding: 7px;
  margin: 5px;
  position: relative;
}

.brand-icon-lg {
  height: 60px;
  width: 60px;
  padding: 10px;
}

.brand-icon-sm {
  height: 40px;
  width: 40px;
  padding: 6px;
}

.google {
  position: absolute;
  right: 320px;
}
.atlassian {
  position: absolute;
  right: 190px;
  top: 4px;
}
.assana {
  position: absolute;
  right: 10px;
  top: 4px;
}
.paypal {
  position: absolute;
  right: 330px;
  top: 150px;
}
.weave {
  position: absolute;
  right: 130px;
  top: 145px;
}
.google-a {
  position: absolute;
  right: 240px;
  top: 220px;
}
.calendar {
  position: absolute;
  right: 15px;
  top: 270px;
}

/* header-section end */
/* key-benefits section start */

.key-benefits h2,
.why-front h2 {
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 22px;
}

.key-benefits-text {
  margin-top: 0;
  margin-bottom: var(--size-50);
}

.benefits-cards-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-100);
}

.benefit-card {
  padding: 10px;
  line-height: 1.6;
  box-shadow: 0px 0px 10px rgba(48, 63, 100, 0.2);
  max-width: 180px;
}

.benefit-card-img-wrapper {
  height: 35px;
  width: 35px;
}

.benefit-card h4 {
  color: black;
  font-size: var(--size-12);
  font-weight: 600;
}

.sketch-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.sketch {
  background-color: #17c8a7;
  color: var(--white);
  padding: 2px 8px;
  border-radius: 25px;
  font-size: var(--size-10);
  font-weight: 600;
}

.benefit-card p {
  color: gray;
  font-size: var(--size-12);
  font-weight: 400;
}
.benefit-card a {
  font-weight: 600;
  font-size: var(--size-12);
}
/* key-benefits section end */

/* different perspectives start */

.different-perspectives {
  background-color: #f8fafd;
  margin-bottom: var(--size-100);
  width: 100%;
  padding-left: 15px;

  margin-left: auto;
  margin-right: auto;
}

.dif-perspectives-wrapper {
  display: flex;
}

.perspectives-text-wrapper {
  margin: 140px 0 20px 0;
  margin-right: 60px;
}

.perspectives-text-wrapper h2 {
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 22px;
}

.perspectives-img-wrapper {
  margin-top: var(--size-100);
}
/* different perspectives end */

/* why front section start */
.why-front {
  margin-bottom: var(--size-100);
}
.dots-wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 180px);
  justify-content: space-between;
}

.dot-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  gap: 15px;
}

.dots-wrapper .gray-dot {
  height: 40px;
  width: 40px;
  background-color: #d5deea85;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-wrapper .blue-dot {
  height: 5px;
  width: 5px;
  background-color: var(--font-color-link);
  border-radius: 50%;
}

.gray-line {
  border-top: 2px solid #d5deea85;
  width: 100%;
}

/* why front section end */
.banner-two {
  position: relative;
  margin-bottom: var(--size-100);
}

.play-circle-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 5px 1px var(--font-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.play-circle-icon .fa-play {
  color: black;
}

/* hubspot section */
.hubspot {
  /* border: 1px solid black; */
  margin-bottom: var(--size-50);
  display: flex;
  gap: var(--size-40);
}

.hubspot-text-wrapper {
  margin-top: var(--size-100);
}

.hubspot-icon-wrapper {
  width: 80px;
}

.hubspot-text-wrapper h3 {
  font-weight: 400;
  color: black;
}

.hubspot-text-wrapper h4,
.hubspot-text-wrapper h6 {
  margin: 0;
}
